<!DOCTYPE html>
{%extends 'dApp/base2.html'%}
   {%block bac_block%}
<h1 align="center">Contact Info</h1><br><br>
      <div class="container" align="center">
           <div class="jumbotron">
               <form>
                   Name:    <input type="text" placeholder=" Enter Name"><br><br>
                   Email:   <input type="text" placeholder="Enter Email"><br><br>
                   Phone:   <input type="text" placeholder="Enter ContactNo"><br><br>
                   Message: <input type="text" placeholder="Your message"><br><br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                   <button class="btn btn-danger btn">send Message</button>
               </form>
           </div>
       </div><br><br><br><br><br>
      <h5 align="center">Copyrights@ 2020 All rights reserved</h5>
   {%endblock%}